.customers-section:hover{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
.customers-section{
    background-color: white;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.customers-image-box img{
    max-width: 350px;
    min-width: 250px;

}
.customers-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    grid-gap: 20px;
}

/* @media (max-width: 500px) {
    .customers-grid{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }
  } */